Repository taiyeoguns/shiftmgr-laravel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, composer format -- --config=.php_cs

.lintstagedrc:

{
  "linters": {
    "*.{css,js,vue,json}": ["prettier --write", "git add"],
    "*.php": ["composer format -- --config=.php_cs", "git add"]
  },
  "ignore": ["*.blade.php"]
}

Added services
  app/Services/ShiftService.php
  composer.json
  composer.lock
Due: prettier --write, composer format -- --config=.php_cs

Set up authorization
  app/Models/Member.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  database/factories/ModelFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2019_03_06_195547_create_members_table.php
  database/migrations/2019_03_06_201523_create_bouncer_tables.php
  database/migrations/2019_03_07_233019_create_priorities_table.php
  database/migrations/2019_03_07_233629_create_status_table.php
  database/seeds/BouncerSeeder.php
  database/seeds/ComponentSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/GfmSeeder.php
  database/seeds/IncidentPrioritySeeder.php
  database/seeds/IncidentStatusSeeder.php
  database/seeds/NexusSeeder.php
  database/seeds/PrioritySeeder.php
  tests/Unit/ManagerTest.php
Due: prettier --write, composer format -- --config=.php_cs

Changed redirect path on register
  app/Http/Controllers/Auth/RegisterController.php
Due: composer format -- --config=.php_cs

Updated tests
  tests/Unit/AppTest.php
  tests/Unit/ComposerTest.php
  tests/Unit/ShiftServiceTest.php
  tests/Unit/ShiftTest.php
Due: composer format -- --config=.php_cs

Refactored naming and updated tests
  app/Http/Controllers/ShiftController.php
  app/Models/User.php
  app/Services/ShiftService.php
  resources/views/partials/sidebar.blade.php
  resources/views/shifts/index.blade.php
  routes/web.php
  tests/Unit/AppTest.php
  tests/Unit/Composers/ComposerTest.php
  tests/Unit/Models/ManagerTest.php
  tests/Unit/Models/ShiftTest.php
  tests/Unit/Models/UserTest.php
  tests/Unit/Services/ShiftServiceTest.php
  tests/Unit/ShiftTest.php
Due: composer format -- --config=.php_cs

Add flash functionality
  composer.json
  composer.lock
  resources/assets/js/scripts.js
  resources/views/master.blade.php
Due: prettier --write, composer format -- --config=.php_cs

Add uuid
  .huskyrc
  app/Models/Shift.php
  app/Models/User.php
  composer.json
  composer.lock
  database/factories/ModelFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2018_11_01_162230_create_shifts_table.php
Due: prettier --write, composer format -- --config=.php_cs

Add create shift
  app/Http/Controllers/ShiftController.php
  app/Http/Requests/StoreShift.php
  app/Providers/RepositoryServiceProvider.php
  app/Repositories/ManagerRepository.php
  app/Repositories/ManagerRepositoryEloquent.php
  app/Repositories/MemberRepository.php
  app/Repositories/MemberRepositoryEloquent.php
  app/Services/ShiftService.php
  public/css/shifts/chosen-sprite.png
  public/css/shifts/chosen-sprite@2x.png
  public/js/app.min.js
  public/js/shifts/index.min.js
  public/mix-manifest.json
  resources/assets/js/ext/jquery.validate.bootstrap.js
  resources/assets/js/shifts/index.js
  resources/views/shifts/index.blade.php
  resources/views/shifts/modals/create.blade.php
  routes/web.php
  tests/Unit/Models/ShiftTest.php
  tests/Unit/Services/ShiftServiceTest.php
  webpack.mix.js
Due: prettier --write, composer format -- --config=.php_cs

Adjusted shift index page and minor changes
  .gitignore
  package-lock.json
  package.json
  readme.md
  resources/assets/css/shiftmgr.css
  resources/views/shifts/index.blade.php
Due: prettier --write, composer format -- --config=.php_cs

Send email after shift is created
  .env.example
  app/Mail/ShiftCreated.php
  app/Services/ShiftService.php
  resources/views/emails/shifts/shift_created.blade.php
  tests/Unit/Models/ShiftTest.php
  tests/Unit/Services/ShiftServiceTest.php
Due: composer format -- --config=.php_cs

Set up shift detail page
  app/Http/Controllers/ShiftController.php
  app/Models/Shift.php
  resources/views/shifts/index.blade.php
  resources/views/shifts/show.blade.php
  routes/web.php
Due: composer format -- --config=.php_cs

Remove compiled assets
  public/css/app.css
  public/css/app.min.css
  public/css/shifts/chosen-sprite.png
  public/css/shifts/chosen-sprite@2x.png
  public/css/shifts/index.min.css
  public/css/vendor.min.css
  public/fonts/FontAwesome.otf
  public/fonts/fontawesome-webfont.eot
  public/fonts/fontawesome-webfont.svg
  public/fonts/fontawesome-webfont.ttf
  public/fonts/fontawesome-webfont.woff
  public/fonts/fontawesome-webfont.woff2
  public/fonts/glyphicons-halflings-regular.eot
  public/fonts/glyphicons-halflings-regular.svg
  public/fonts/glyphicons-halflings-regular.ttf
  public/fonts/glyphicons-halflings-regular.woff
  public/fonts/glyphicons-halflings-regular.woff2
  public/fonts/ionicons.eot
  public/fonts/ionicons.svg
  public/fonts/ionicons.ttf
  public/fonts/ionicons.woff
  public/fonts/ionicons.woff2
  public/js/app.js
  public/js/app.min.js
  public/js/shifts/index.min.js
  public/js/vendor.min.js
Due: prettier --write

Adjust ignore for compiled assets
  public/css/.gitignore
  public/fonts/.gitignore
  public/js/.gitignore
Due: none

Modify shift validation
  app/Http/Requests/StoreShift.php
  resources/views/master.blade.php
Due: composer format -- --config=.php_cs

Refactor tests
  tests/Unit/Models/ShiftTest.php
  tests/Unit/Models/UserTest.php
  tests/Unit/Services/ShiftServiceTest.php
Due: composer format -- --config=.php_cs

Modify shift to use route model binding
  app/Http/Controllers/ShiftController.php
  app/Models/Shift.php
  routes/web.php
Due: composer format -- --config=.php_cs

Add Task model, migration and relationships
  app/Models/Member.php
  app/Models/Shift.php
  app/Models/Task.php
  database/migrations/2019_05_08_202047_create_tasks_table.php
Due: composer format -- --config=.php_cs

Add admin to seeder and allow to set default password for users
  .env.example
  database/factories/ModelFactory.php
  database/seeds/DatabaseSeeder.php
Due: composer format -- --config=.php_cs

Add and configure javascript package
  composer.json
  composer.lock
  config/blade-javascript.php
Due: prettier --write, composer format -- --config=.php_cs

Update shifts index page
  resources/views/shifts/index.blade.php
Due: composer format -- --config=.php_cs

Add helper methods to shift model
  app/Models/Shift.php
Due: composer format -- --config=.php_cs

Get shifts based on logged in user
  app/Services/ShiftService.php
Due: composer format -- --config=.php_cs

Set up shift details page
  package-lock.json
  package.json
  public/mix-manifest.json
  resources/assets/css/styles.css
  resources/assets/js/shifts/show.js
  resources/views/shifts/show.blade.php
  webpack.mix.js
Due: prettier --write, composer format -- --config=.php_cs

Update tests
  tests/Unit/AppTest.php
  tests/Unit/Models/ShiftTest.php
  tests/Unit/Models/TaskTest.php
  tests/Unit/Services/ShiftServiceTest.php
Due: composer format -- --config=.php_cs

Update bootstrap version
  package-lock.json
  package.json
Due: prettier --write
